
<!-- 
article    
<body>
    <div>
        <ul>
        {% for article in data %}
        <li>Title : {{ article.title }} </li>
        <li>Contents : {{ article.contents }} </li>
        <li>User ID : {{ article.userId }} </li>
        <br>
        {% endfor %}
        </ul>
    </div>
    <div>
        <form action="{{url_for('article.create')}}" method="post" id="actionForm">
            <p>Title <input type="text" name="title"></p>
            <p>Contents <input type="text" name="contents"></p>
            <p>User ID <input type="text" name="userId"></p>
            <input type="submit" value="등록">
        </form>
    </div>
</body> -->

<!-- 
board    
<body>
    <div>
        <ul>
        {% for board in data %}
        <li>Board ID : {{ board.boardId }} </li>
        <li>Name : {{ board.name }} </li>
        <li>Category ID : {{ board.categoryId }} </li>
        <br>
        {% endfor %}
        </ul>
    </div>
    <div>
        <form action="{{url_for('board.create')}}" method="post" id="actionForm">
            <p>Board ID <input type="text" name="boardId"></p>
            <p>Name <input type="text" name="name"></p>
            <p>Category ID <input type="text" name="categoryId"></p>
            <input type="submit" value="등록">
        </form>
    </div>
</body> -->

<body>
    <div>
        <ul>
        {% for category in data %}
        <li>Category ID : {{ category.categoryId }} </li>
        <li>Name : {{ category.name }} </li>
        <br>
        {% endfor %}
        </ul>
    </div>
    <div>
        <form action="{{url_for('category.create')}}" method="post" id="actionForm">
            <p>Name <input type="text" name="name"></p>
            <input type="submit" value="등록">
        </form>
    </div>
</body>